.Custom {
  .question {
    font-size: 2vw;
    text-align: center;
    padding-top: 10vh;
    color: #202020;
    &.dark-mode{
      color: #fcfcfc;
    }
  }
  .radio_container {
    display: flex;
    justify-content: center; /* 라디오 버튼들을 가로로 배치하기 위해 사용 */
    .select {
      display: flex; /* 라디오 버튼과 레이블을 가로 방향으로 배치 */
      align-items: center;/* 수직 정렬 */
      margin: 0 2vw;
      margin-top: 10vh; /* 각 선택지 사이의 간격 */
      input[type=radio] {
        display: none; /* 라디오 버튼을 숨깁니다. */
      }
      input[type=radio]+label{
        cursor: pointer;
        height: 20vh;
        width: 20vw;
        border-radius: 1vw;
        text-align: center;
        font-weight:bold;
        font-size: 1vw;
        padding-top: 15vh;
        color: #333;
        box-shadow: 0 0.3vw 0.6vw rgba(0, 0, 0, 0.1), 0 0.3vw 0.6vw rgba(0, 0, 0, 0.1);
        border-top: 0.1vw solid rgb(238, 238, 238);
        transition: box-shadow 0.3s ease, background-color 0.2s ease;
        
        &.dark-mode{
          border-top: none;
          color: #e0e0e0;
        }
      }
      input[type=radio]:checked+label{
        box-shadow: inset 0 0.5vw 1vw rgba(0, 0, 0, 0.1), 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
        background-color: rgb(235, 235, 235);
        color: #333;
        border-bottom: 0.1vw solid rgb(223, 223, 223);
        &.dark-mode{
          background-color: rgb(53, 53, 53);
          color: #e0e0e0;
          border-bottom: none;
        }
      }
      .radio-button {
        margin-right: 5px; /* 라디오 버튼과 레이블 사이의 간격 */
      }
      .radio-label {
        margin: 0; /* 레이블의 기본 마진을 제거 */
      }
    }
  }
  .customBtn{
    width: 10vw;
    height: 5vh;
    margin-left: 44.5vw;
    margin-top: 10vh;
    font-size: 0.9vw;
    background-color: rgb(223, 224, 187);
    border: none;
    cursor: pointer;
    border-radius: 1vw;
    transition: background-color 0.5s ease;
    &:hover{
      background-color: #fff235;
      color: rgb(25, 25, 25);
    }
    &.dark-mode{
      background-color: rgb(55, 57, 43);
      color: rgb(255, 255, 255);
      &:hover{
        background-color: rgb(147, 150, 74);
      }
    }
    &:active{
      box-shadow: inset 0 0.5vw 1vw rgba(0, 0, 0, 0.1), 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
    }
  }
}
