.Header{
  background-color: white;
  box-shadow: inset 0 0.1vw 0.1vw rgba(0, 0, 0, 0.1), 0 0.1vw 0.1vw rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  .headerBar{
    height: 8vh;
    .headerLogo{
      width: 8vw;
      height: 5.1vh;
      margin: 0.7vw;
      margin-right: 55vw;
    }
    .headerBtn{
      font-size: 0.9vw;
      position: relative;
      bottom: 3vh;
      margin-right: 3vw;
      text-decoration: none;
      color: black;
    }
    .headerBtn:hover{
      text-decoration: underline;
    }
    .headerBtn.dark-mode{
      color: white;
    }
    .darkBtn{
      width: 3vw;
      height: 5vh;
      border-radius: 1vw;
      border: none;
      background-color: white;
      box-shadow: 0 0 0.3vw rgba(0, 0, 0, 0.1), 0 0 0.3vw rgba(0, 0, 0, 0.1);
      transition: color 0.5s ease, background-color 0.5s ease;
      cursor: pointer;
      position: relative;
      bottom: 3vh;
      font-size: 0.9vw;
    }
    .darkBtn:hover{
      background-color: rgb(224, 224, 224);
    }
    .darkBtn.dark-mode{
      background-color: #171717;
      box-shadow: inset 0 0 0.3vw rgba(255, 251, 0, 0.1), 0 0 0.3vw rgba(255, 251, 0, 0.1);
      color: white;
    }
    .darkBtn.dark-mode:hover{
      background-color: rgb(72, 72, 72);
    }
  }
}
.Header.dark-mode{
  background-color: #171717;
  box-shadow: 0 0.1vw 0.1vw rgba(0, 0, 0, 0.1), 0 0.1vw 0.1vw rgba(0, 0, 0, 0.1);
  border-bottom: 0.1vw solid #32363C;
}
