$white: white;
$black: black;
$dark-bg: #171717;
$dark-bg-hover: rgb(72, 72, 72);
$light-bg-hover: rgb(224, 224, 224);
$transition-ease: 0.5s ease;

%header-btn {
  font-size: 0.9vw;
  margin-left: 2vw; // 링크들 사이에 간격을 줍니다
  text-decoration: none;
  color: $black;

  &.dark-mode {
    color: $white;
  }

  &:hover {
    text-decoration: underline;
  }
}

%dark-btn {
  width: 3vw;
  height: 5vh;
  border-radius: 1vw;
  border: none;
  background-color: $white;
  box-shadow: 0 0 0.3vw rgba(0, 0, 0, 0.1), 0 0 0.3vw rgba(0, 0, 0, 0.1);
  transition: color $transition-ease, background-color $transition-ease;
  cursor: pointer;
  font-size: 0.9vw;

  &.dark-mode {
    background-color: $dark-bg;
    box-shadow: inset 0 0 0.3vw rgba(255, 251, 0, 0.1), 0 0 0.3vw rgba(255, 251, 0, 0.1);
    color: $white;
  }

  &:hover {
    background-color: $light-bg-hover;

    &.dark-mode {
      background-color: $dark-bg-hover;
    }
  }
}

.Header {
  background-color: $white;
  box-shadow: 0 0 0.1vw rgba(0, 0, 0, 0.1), 0 0 0.1vw rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;

  &.dark-mode {
    background-color: #191919;
    box-shadow: 0 0.1vw 0.1vw rgba(0, 0, 0, 0.1), 0 0.1vw 0.1vw rgba(0, 0, 0, 0.1);
    border-bottom: 0.1vw solid #3c4046;
  }

  .headerBar {
    height: 8vh;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 77vw; // 최대 너비를 설정하여 중앙 정렬을 유지합니다
    padding: 0 2vw; // 좌우 패딩을 추가하여 중앙 정렬 효과를 줍니다
    justify-content: space-between; // 로고와 링크, 버튼을 양쪽 끝으로 정렬합니다

    .headerLogo {
      width: 7vw;
      height: 4.1vh;
      cursor: pointer;
    }

    .linkContainer {
      display: flex;
      align-items: center;
      margin-left: auto; // 링크 컨테이너를 오른쪽으로 정렬합니다
    }

    .headerBtn {
      @extend %header-btn;
    }

    .darkBtn {
      @extend %dark-btn;
      margin-left: 2vw; // 링크 컨테이너와 다크 모드 버튼 사이에 간격을 줍니다
    }
  }
}
