.myPageContent {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
  }
  
  .dark-mode .myPageContent {
    background-color: #333;
    color: #fff;
  }
  