@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
*{
  font-family: 'Pretendard-Regular';
}
body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  height: 100%;
}
body.dark-mode{
  background-color: #202020;
}
::-webkit-scrollbar{
  display: none;
}
/* Edge 및 IE */
input[type="password"]::-ms-reveal {
  display: none;
}

/* Chrome, Safari, Edge (WebKit) */
input[type="password"]::-webkit-text-security {
  -webkit-appearance: none;
  appearance: none;
}

/* Firefox 및 모든 브라우저에 공통 적용 */
input[type="password"] {
  -webkit-text-security: disc;
}