.ResetPassword{
  display: flex;
  justify-content: center;
  align-items: center;

  .resetpw_box{
    border-top: 0.01vw solid rgb(220, 220, 220);
    box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.1), 0 0.1vw 0.2vw rgba(0, 0, 0, 0.1);
    width: 25vw;
    height: 50vh;
    align-items: center;
    position: absolute;
    top: 25%;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5vw;
    &.dark-mode{
      background-color: #191919;
      border-top: none;
    }
    .login_logo{
      margin-left: 7.3vw;
      margin-top: 5vh;
      width: 10vw;
    }
    .resetpwHead{
      font-size: 1vw;
    }
    .resetpw_main{
      width: 15vw;
      height: 17vh;
      margin-left: 5vw;
      margin-top: 4vh;
      p{
        height: 1vh;
        width: 5vw;
        font-size: 0.75vw;
        color: rgb(168, 168, 168);
        margin-bottom: 1vh;
        transition: color 0.3s ease;
        margin-top: 2vh;
      }
      p.focused{
        color: #F8F252;
      }
      .resetpw_input{
        width: 14.4vw;
        height: 4vh;
        border-radius: 0.5vw;
        border: 0.03vw solid rgb(168, 168, 168);
        background-color: white;
        box-shadow: 0 0.05vw 0.05vw rgba(0, 0, 0, 0.1), 0 0.05vw 0.05vw rgba(0, 0, 0, 0.1);
        font-size: 0.8vw;
        padding-left: 0.4vw;
        outline: none;
        transition: border-color 0.3s ease;
        &.dark-mode {
          background-color: #393939;
          border: 0.03vw solid #303030;
          color: white;
        }
      }
      
      .resetpw_input:focus{
        border-color: #F8F252;
      }
      .resetpwBtn{
        width: 15vw;
        height: 4vh;
        border-radius: 0.5vw;
        border: none;
        margin-top: 3vh;
        font-size: 0.8vw;
        color: black;
        background-color: #F8F252;
        transition: background-color 0.5s ease;
      }

      .resetpwBtn:hover{
        background-color: #a9a46d;
        cursor: pointer;
      }
      .resetpwBtn:active{
        transform: scale(0.99, 0.99);
      }
    }
  }
}
